<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/animal" method="post">
        <input type="text" name="code" placeholder="Animal Code">
        <select name="cid" >
            {% for category in categories %}
            <option value="{{category[0]}}">{{category[1]}}</option>
            {% endfor %}
        </select>
        <button>Submit</button>

    </form>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            {% for animal in animals %}
            <tr>
                <td>{{animal[0]}}</td>
                <td>{{animal[1]}}</td>
                <td>{{animal[2]}}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        {% if request.args.get("status") %}
        alert('{{request.args.get("status")}}')
        {% endif %}
    </script>
</body>
</html>